<div class="container mt-4">
    <h2 class="text-left mb-4">Appointments</h2>
    <table class="table table-striped table-bordered">
      <thead class="table-primary">
        <tr>
          <th>Appointment Details</th>
          <th>Patient ID</th>
          <th class="wider-column">Patient Details</th>
          <th>Time Slot</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments">
          <td>Id:{{ appointment.appointmentId }} Date:{{appointment.date}}
            <button 
            class="btn btn-primary btn-sm ms-2" 
            (click)="markAsCompleted(appointment.appointmentId)">
            Mark Completed
          </button>
          </td>
          <td>{{ appointment.patientId }}</td>
          <td>
            <strong>{{ appointment.name }}</strong> <br />
            <small>
              Gender: {{ appointment.gender }}, Age: {{ appointment.age }}
            </small>
            <small>
              Type: {{ appointment.patient_type }}
            </small>
          </td>
          <td>{{ appointment.timeSlot }}</td>
          <td>
            <button [routerLink]="['/doctor/get-medical-history/'+ appointment.patientId]" class="btn btn-info btn-sm me-2" >See Medical Record</button>
            <button [routerLink]="['/doctor/generate-medical-record/'+ appointment.patientId]" class="btn btn-warning btn-sm me-2">Generate Medical Record</button>
            <button [routerLink]="['/doctor/prescribe-testNscans/'+ appointment.patientId]" class="btn btn-success btn-sm" >Prescribe Tests</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  