<nav>
    <div class="d-flex">
        <!-- Sidebar -->
        <div class="sidebar bg-primary text-light">
          <h3 class="p-3 text-left">Hello {{name}}</h3>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a [routerLink]="['appointment-list']" class="nav-link text-light"[ngClass]="getClassOn()" (mouseover)="linkClick('appointment')">Appointments</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['doctor-schedule']" class="nav-link text-light">Schedule</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['doctor-profile']" class="nav-link text-light">My Profile</a>
            </li>
          </ul>
          <div class="button">
            <button class="btn w-100 text-light text-start" (click)="logout()">Logout</button>
          </div>
          <div class="text-center mt-3">
            <img src="/assets/logo.png" alt="Hospital Logo" class="sidebar-logo">
          </div>
        </div>
    </div>
</nav>